*{
    box-sizing: border-box;
}
h1 {
    color: white;
    }

section.jesaispasencore {
    list-style-type: none;
    display : flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

body{
    background-color: rgb(31, 34, 34);
}


.budon{
    margin-top: 1em;
}

img{
    width: 240px ;
    height: 240px;
}

div.music{
    margin:2em;
    width: 240px;
    height: 240px;
}

div.top5{
    color:white;
}
    


/********* Hover image et texte *******/
/* Overlay */
.music .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
   }
   .music:hover .hover {
    opacity: 1;
   }
   .music .hover {
    background-color: rgba(0,0,0,0.5);
   }
   .music .text {
    color: #fff;
    font-size: 30px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 1%;
    width: 100%;
    height: 100%;
   }
   /********* Superposition simple de texte sur une image *******/
/* Conteneur principal */
   .music {
    position: relative;
   }
/* Image originale */
   .music .image {
    display: block;
   }
/********* Register *******/
.inscription{
    margin-left: 80vh;
}

.login{
text-align: center;
margin-top: 35vh;
}

.inputlog{
    padding: 8px 16px;
    height: 48px;
    margin-top: 2em;
    border : 2px solid #3498db;
    border-radius: 24px;
}
.inputlog input{
    padding: 8px 16px;
    height: 48px;
    margin-top: 2em;
    border : 2px solid #3498db;
    border-radius: 24px;
}

.addMusic{
    margin-left: 38%;
    margin-top: 13%;
}

.authortitle{
    font-size: 25px;
    color:white;
}

.addSupprGenre{
    margin-left: 0;
}

.add{
    margin-left: 37%;
    margin-top: 13%;
}

.button-form{
    margin-left: 39%;
}

.inputlog:focus{
    border : 5px solid green;
}

.inputlog::placeholder{
    font-size: 1.2em;
}