.aside {
  min-height: 100vh;
  background-color: rgb(56,58,59);
  color: rgb(167,168,170);
  max-width: 6vh;
}


.aside-texte {
  margin-top: 0;
  font-size: 21px;
  margin-bottom: 1rem;
  padding-top: 2vh;
  padding-left: 5px;
  padding-right: 5px;
}

div.player {
  margin-top: 15vh;
  margin-left:1em;
}

ul{
  list-style-type: none;
}

div.detail{
  width: 500px;
  height: 500px;
  margin-top: 18vh;
  margin-left:1em;
}

.btn-group {
  padding-top: 2em;
}
div.detailtext{
  color:white;
  margin-top: 25vh;
  margin-left:1em;
}
div.detailtext a{
  color:white;
}
.playlist {
  margin-top: 0;
  margin-bottom: 1rem;
  color: rgb(203,204,207);
  font-size: 19px;
  padding-left: 6.5vh;
}
div.sample{
  margin:1em;
}
div.sample li{
  color:white;
  list-style-type: none;
}

div.sample img{
  width: 400px;
  height: 400px;
}
div.sample ul{
  float: right;
}


.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.one_aut{color:white;}

h2.one_aut {
    margin-top: 10vh;
}

ul.list_oeuvre {
    margin-top: 12vh;
}