{% extends 'base.html' %}

{% block content %}

<form method="post" class="add">
    <h1>{% block title %} Ajouter un artiste :{% endblock %}</h1>
    <div class="form-group">
        <input type="text" name="author"
               placeholder="nom de l'artiste" class="form-control inputlog"
               value="{{ request.form['name'] }}"/>
    </div>
    <div class="form-group button-form">
        <button type="submit" class="btn btn-outline-info">Submit</button>
    </div>
</form>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endblock %}