{% extends 'base.html' %}

{% block content %}


<form class="add" method="post">
    <h1>{% block title %} Créer une playlist {% endblock %}</h1>
    <div class="form-group">
        <label for="genre">Title</label>
        <input type="text" name="playlist-name"
               placeholder="playlist name" class="form-control inputlog"
               value="{{ request.form['playlist-name'] }}"/>
    </div>
    <select name="music-choices" class="inputlog">
        {% for x in musics %}
            <option value="{{ x.title }}"> {{ x.title }}</option>
        {% endfor %}
        </select>
    <div class="form-group add">
        <button type="submit" class="btn btn-outline-info">Submit</button>
    </div>
</form>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endblock %}