<!DOCTYPE html>
<html style="width: 100%;height: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Bold-BS4-Footer-Small-Logo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Dark-Footer-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Dark-Footer-2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Dark-Footer-3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Dark-Footer-4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Dark-Footer-5.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Dark-Footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navbar-vmnt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Simple-footer-by-krissy.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<header>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-success navigation-clean-search"
         style="padding: 5px;width: 100%;">
        <div class="container-fluid"><a class="navbar-brand" style="color:#eeeeee;" href="{{ url_for('home') }}">Spotizeer</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <form class="form-inline ml-auto" id="form" target="_self" method="POST" action="{{ url_for('search') }}">
                    <div class="form-group"><label for="search-field">
                        <i class="fa fa-search" id="icon-busca" style="font-size:20px;padding:5px;"></i>
                    </label><input class="form-control form-control-sm search-field" type="search" id="search-field"
                                   name="recherche" placeholder="RECHERCHER" autocomplete="on">
                    </div>
                    <select class="btn-success" name="type">
                        <option value="album">Album</option>
                        <option value="artiste">Artiste</option>
                        <option value="genre">Genre</option>
                        <option value="annee">annee</option>
                    </select>
                </form>
                <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li><a>{{ current_user.username }}</a></li>
                        <li><a href="{{ url_for('logout') }}">
                            <i class="fa fa-sign-out" id="icon-busca" style="font-size:20px;padding:5px;"></i> </a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
<div class="d-flex">
    <aside class="aside"><a href="#">
        <p class="aside-texte">&nbsp;<a href="{{ url_for('home') }}"><i class="fa fa-home"></i></a></p>
    </a>
        <p class="aside-texte">&nbsp;<a href="{{ url_for('playlist') }}"><i class="fa fa-music"></i></a></p>
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
            </button>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('create_author') }}">Ajouter un artiste</a>
                <a class="dropdown-item" href="{{ url_for('create_music') }}">Ajouter un album</a>
                <a class="dropdown-item" href="{{ url_for('create_genre') }}">Ajouter un genre</a>
                <a class="dropdown-item" href="{{ url_for('create_playlist') }}">Ajouter une Playlist</a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                  </svg>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('edit_genre') }}">Editer un genre</a>
            </div>
        </div>
    </aside>
    {% block content %}
        {% block main %} {% endblock %}
    {% endblock %}
</div>
</body>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row" style="margin-top:20px;">
                <div class="col-md-6 item text" style="margin-bottom:0px;">
                    <h3>Spotizeer</h3>
                    <p>Un projet réalisé par Grégoire Bouchard &amp; Dorian Labasse</p>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>A propos</h3>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contactez-nous</a></li>
                        <li><a href="#">20/20 svp</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="{{ url_for('hometest') }}">HomeTest Paginé </a></li>
                        <li><a href="#">Avis</a></li>
                        <li><a href="#">Super</a></li>
                    </ul>
                </div>
            </div>
            <div class="col item social" style="margin-top:10px;"><input class="form-control-lg" type="email"
                                                                         style="width:200px;height:40px;margin-left:-3px;margin-bottom:11px;margin-top:30px;"
                                                                         value="Name@email.com">
                <button class="btn btn-primary" style="width:111px;height:40px;margin-top:-8px;" type="button">
                    S'abonner
                </button>
                <h1 style="font-size:1rem;">Des nouvelles sur les concerts de vos artistes préférés ?</h1>
            </div>
            <div class="col item social" style="margin-top:15px;"><a href="#"><i class="fa fa-google"></i></a><a
                    href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
                    class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a>
            </div>
            <div style="text-align:center;margin-top:-40px;">
                <h2 class="divider-style"></h2>
            </div>
            <p class="copyright">Spotizeer © 2020</p>
        </div>
    </footer>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/Navbar-vmnt.js') }}"></script>
<script src="{{ url_for('static', filename='js/Navbar-vmnt-1.js') }}"></script>
<script src="{{ url_for('static', filename='js/Navbar-vmnt-2.js') }}"></script>
<script src="{{ url_for('static', filename='js/Navbar-vmnt-3.js') }}"></script>
</html>