{% extends "base.html" %}
{% block main %}
<div class="detail">
    <h1>{{ music.title }}</h1>
    <img src="{{ music.img }}" alt="couverture de {{ music.title }}">
</div>
<div class="player">
    <iframe width="400px" height="400px" src="{{ music.youtube }}" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<div class="detailtext">
    <ul>
        <li>Auteur : <a href="{{ url_for('one_author',id=music.author.authorId) }}">{{ music.author.name }}</a></li>
        <li>Année : {{ music.releaseYear }}</li>
        <form method="POST" action="{{ url_for('add_note',id=music.entryId) }}">
            <div class="form-group">
            <li class="rate">
                <input type="radio" id="star5" name="rating" value="5" required/>
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1" title="text">1 star</label>
            </li>
            <li>
                <input class="btn-success" name="submit_button" type="submit" value="Noter">
            </li>
            </div>
        </form>
        {% if like == True %}
        <div>
            <p>note actuelle : {{ note }} </p>
        </div>
        {% endif %}
        <form method="POST" action="{{ url_for('delete_music',id=music.entryId) }}">
            <input class="btn-danger" name="submit_button" type="submit" value="Supprimer la musique">
        </form>
        <a class="budon" href="{{ url_for('edit_music',id=music.entryId) }}">Editer une musique</a>
    </ul>
</div>
{% endblock %}