{% extends "base.html" %}
{% block main %}
<div class="edit-author add">
    <h1>Edit author: {{ author.name }}</h1>
    <form role="form" method="POST" action="{{ url_for('save_author') }}">
        {{ form.hidden_tag() }}
        <div class={% if form.name.errors %}
        "form-group has-error" {%else%} "form-group" {%endif%}> {{ form.name(size =50, class_="form-control inputlog") }}
</div>
{% if form.name.errors %}
<ul class="list-group">
    {% for e in form.name.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
</ul>
{% endif %}
<input class="btn btn-outline-info add" type="submit" value="Enregistrer">
</form >
<form role="form" class="add" method="POST" action="{{ url_for('edit_author',id=author.authorId) }}">
    <input class="btn btn-danger" type="submit" value="Supprimer">
</form>
</div>
{% for message in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endblock %}