{% extends 'base.html' %}

{% block content %}

<form method="POST" class="addMusic">
    <h1>{% block title %} Modifier l'album :{% endblock %}</h1>
    <div class="form-group">
        <label for="music">Title</label>
        <input type="text" name="release"
               placeholder="Année de sortie" class="form-control inputlog"
               value="{{ music.releaseYear }}"/>
        <input type="text" name="title"
               placeholder="Titre de l'album" class="form-control inputlog"
               value="{{ music.title }}"/>


        <input type="text" name="img"
               placeholder="Lien image" class="form-control inputlog"
               value="{{ music.img }}"/>

        
        <input type="text" name="youtube"
               placeholder="lien youtube API" class="form-control inputlog"
               value="{{ music.youtube }}"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-info button-form">Submit</button>
    </div>
</form>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endblock %}