{% extends "base.html" %}
{% block content %}
<div class='add'>
    <form method="POST" action="{{ url_for('edit_genre') }}">
        <h1>Edit genre: </h1>
        <div class="form-group">
            <input type="text" name="newGenre"
               placeholder="genre" class="form-control inputlog"
               value="{{ request.form['newGenre'] }}"/>
            <select class="inputlog" name="genre">
                {% for x in genres %}
                    <option value="{{ x.genre }}"> {{ x.genre }}</option>
                {% endfor %}
            </select>

        </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-info button-form">Submit</button>
    </div>
    </form>
    <form method="POST" action="{{ url_for('delete_genre') }}">   
        <div class="form-group">
            <select class="inputlog" name="genre">
                {% for x in genres %}
                    <option value="{{ x.genre }}"> {{ x.genre }}</option>
                {% endfor %}
            </select>

        </div>
            <div class="form-group">
        <button type="submit" class="btn btn-danger button-form">Supprimer</button>
    </div>
    </form>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>  
{% endblock %}