{% extends "base.html" %}
{% block main %}
<section class="jesaispasencore">
    {% for x in musics.items %}
    <div class="music">
        <img class="image" src="{{ x.img }}">
        <div class="hover">
            <div class="text">
                <a href="{{url_for('detail',id=x.entryId)}}">{{ x.title }}</a></div>
            <form action="{{url_for('delete_to_playlist',id=x.entryId)}}" method="POST">
            {% if x.entryId in playlist%}

                <button class="btn btn-secondary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">
                        <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                    </svg>
                </button>

            {% else %}
                <button class="btn btn-secondary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                </button>

            {% endif %}
            </form>

        </div>
    </div>
    {% endfor %}
    <!-- Pagination Links-->
</section>
</br>
<div class="pagination">
<div class="text-right">
    <a href="{{ url_for('hometest', page=musics.prev_num) }}"
       class="btn btn-outline-dark 
       {% if musics.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in musics.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if musics.page == page_num %}
            <a href="{{ url_for('hometest', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('hometest', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('hometest', page=musics.next_num) }}"
       class="btn btn-outline-dark 
       {% if musics.page == musics.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ musics.page }} of {{ musics.pages }}
</p>
</div>


{% endblock %}

