{% extends "base.html" %}
{% block main %}
<form class="inscription form-horizontal " role="form" method="POST" action="{{ url_for('login') }}">
               <h1 class="login">Login</h1>
<fieldset class="form-group">
    {{ form.hidden_tag()}}
    <div class="form-group-id">



            {{ form.username (size =27.5, class_="inputlog form-control",
            placeholder ="Username") }}
    </div>
    <div class="form-group-mdpI">

        
            {{ form.password ( size =27.5, class_=" inputlog form-control",
            placeholder ="Password") }}
            

    </div>
    </fieldset>
    <div class="btnsinscrire">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-outline-info">Sign in</button>
        </div>
    </div>
</form>
{% endblock %}