{% extends "base.html" %}
{% block main %}
    <a class="authortitle one_auth" href="{{ url_for('edit_author',id=author.authorId) }}">{{ author.name }}</a>
    <h2 class="one_aut">Ses oeuvres :</h2>
    <div class="fo">

    {% for musics in music %}
        <ul class="list_oeuvre">
            <li><a class="one_aut" href="{{url_for('detail',id=musics.entryId)}}">{{ musics.title }}</a></li>
            <li><img class="image" src="{{ musics.img }}"></li>
        </ul>
    {% endfor %}
    </div>

{% endblock %}