{% extends "base.html" %}
{% block main %}


  <div class="titre">
        <h1>Like</h1>
    </div>
<section class="jesaispasencore">

    {% for x in play %}
    {% for i in music %}
    {%if i.entryId ==x.musicId%}
    <div class="music">
        <img class="image" src="{{ i.img }}">
        <div class="hover">
            <div class="text">
                <a href="{{url_for('detail',id=i.entryId)}}">{{ i.title }}</a>
            </div>
            <form action="{{url_for('delete_to_playlist',id=i.entryId)}}" method="POST">
                {% if x.musicId in play%}

                <button class="btn btn-secondary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">
                        <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                    </svg>
                </button>

                {% else %}
                <button class="btn btn-secondary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                </button>

                {% endif %}
            </form>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}