{% extends "base.html" %}

{% block content %}
    <div class=" inscription content-section d-flex flex-column justify-content-center">
        <form method="POST" action="{{ url_for("page_inscription") }}">
            <h1 class="test2 text-center">Inscription</h1>
            <div class="form-group">
            {{ form.hidden_tag() }}
            </div>
            <fieldset class="form-group">
                <div class="form-group-id">
                    {% if form.pseudo.errors %}
                        {{ form.pseudo(class="form-control inputlog is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pseudo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.pseudo(class="form-control inputlog" , placeholder ="Username") }}
                    {% endif %}
                </div>
                <div class="form-group-mdpI">
                    {% if form.mot_de_passe.errors %}
                        {{ form.mot_de_passe(class="form-control inputlog is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.mot_de_passe.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.mot_de_passe(class="form-control inputlog", placeholder ="Password") }}
                    {% endif %}
                </div>
                <div class="form-group-CmdpI">
                    {% if form.confirm_mot_de_passe.errors %}
                        {{ form.confirm_mot_de_passe(class="form-control inputlog is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_mot_de_passe.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_mot_de_passe(class="form-control inputlog",placeholder ="Confirm password") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="btnsinscrire">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
            <div class = "border-top pt-3">
        <small class="text-muted">
            Vous avez déjà un compte ? <a class="ml-2 one_aut" href="{{ url_for('login') }}">Connectez-vous</a>
        </small>
    </div>
    </div>

{% endblock %}
