{% extends "base.html" %}
<body>
{% block content %}
<main>
    <h3 class="one_aut">Votre recherche : {{ recherche }}</h3>
    <section class="jesaispasencore">

        {% for music in la_liste %}

        <div class="music">
            <a href="/home/detail/{{music.entryId}}">
                <img src="{{ music.img }}">
            </a>
            <h5>{{music.title }}</h5>
            <input type="hidden" name="img" value="{{ url_for('static',filename='image/'+music.img) }}">
            <input type="hidden" name="title" value="{{music.title}}">
            <input type="hidden" name="author" value="{{music.by}}">
            <input type="hidden" name="url" value="{{music.youtube}}">
        </div>

        {% endfor %}
    </section>
</main>
{% endblock %}

</body>